apiVersion: v1
kind: Secret
metadata:
  name: web-app-secret          # nama yang akan direferensikan di Deployment
  namespace: dev
  labels:
    app: web-app
type: Opaque                    # tipe Secret paling umum — key-value bebas
stringData:
  # stringData: otomatis di-encode ke base64 oleh Kubernetes
  # Ganti nilai di bawah ini dengan nilai asli sebelum kubectl apply
  DB_PASSWORD: "ganti-dengan-password-asli"
  DB_USER: "ganti-dengan-username-asli"
  API_KEY: "ganti-dengan-api-key-asli"
